<!-- Agenda -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].agenda.section | default: 'agenda' }}">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].agenda.title | default: "agenda" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto" style="white-space: pre-line;">
      <div class="large text-muted">
        <img class="img-fluid d-block mx-auto" src="{{ site.data.sitetext[site.locale].agenda.timeline }}" alt="timeline" style="max-height: 360px">
        <div style="line-height: 0.6;">
          <h4 id="T1">- Call for Participation <span style="font-weight: normal;">- Jan 1st</span></h4>
          <h4 id="T2">- Release of Datasets and Starting Kit <span style="font-weight: normal;">- Jan 10th</span></h4>
          <h4 id="T3">- Stage 1 <span style="font-weight: normal;">- From Jan 15th to Mar 1st</span></h4>
          <h4 id="T4">- Stage 2 <span style="font-weight: normal;">- From Mar 1st to Mar 15th</span></h4>
          <h4 id="T5">- Competition ends and Winners release <span style="font-weight: normal;">- Apr 1st</span></h4>
          <h4 id="T6">- Award Ceremony <span style="font-weight: normal;">- Apr 28th</span></h4>
        </div>
        Note: All submission deadlines are start-of-day in the Anywhere on Earth (AoE) time zone.
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Agenda -->
