<!-- Award -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].award.section | default: 'award' }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].award.title | default:
                    "award" }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto large text-muted" style="white-space: pre-line;">
                Top-6 winning teams of the competition will be offer monetary prizes and certificates:
                <div style="line-height: 0.6; margin-top: 30px">
                    <h5>- 🥇 1st Place: <span style="font-weight: normal;">6,000 USD</span></h5>
                    <h5>- 🥈 2nd Place: <span style="font-weight: normal;">4,000 USD</span></h5>
                    <h5>- 🥉 3rd Place: <span style="font-weight: normal;">2,000 USD</span></h5>
                    <h5>- Honorable Prizes (4th-6th place): <span style="font-weight: normal;">1,000 USD</span></h5>
                </div>
                Additionally, we will select 2 student awards, granted to the highest-ranking groups outside the top 3
                positions, that are composed entirely of students. Each student group will receive travel award up to
                1,000 USD to attend the workshop in person. This remuneration is to be paid after the in-person
                attendance.
            </div>
        </div>

    </div>
</section>
<!-- End Award -->