<!-- Organizers -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].organizers1.section | default: 'organizers1' }}">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].organizers1.title | default: "organizers1" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto" style="white-space: pre-line;">
      <div style="line-height: 0.6;">
        <h5>- <a href="https://scholar.google.com/citations?user=P8WYyYIAAAAJ&hl=zh-CN&oi=sra" target="_blank">Min Zhou</a> <span style="font-weight: normal;"> (Huawei Technologies Co., Ltd, China) </span></h5>
        <h5>- <a href="https://scholar.google.com/citations?user=tXADq4IAAAAJ&hl=zh-CN&oi=sra" target="_blank">Qiao Yu</a> <span style="font-weight: normal;"> (Technical University of Berlin, Germany) </span></h5>
        <h5>- Hongyi Xie <span style="font-weight: normal;">(University of Science and Technology of China)</span></h5>
        <h5>- Jialiang Yu <span style="font-weight: normal;">(Huawei Technologies Co., Ltd, China)</span></h5>
        <h5>- Wengui Zhang <span style="font-weight: normal;">(Huawei Technologies Co., Ltd, China)</span></h5>
        <h5>- Stefano Mauceri <span style="font-weight: normal;">(Huawei Technologies Co., Ltd, Ireland)</span></h5>
        <h5>- Ping Liu <span style="font-weight: normal;">(Huawei Technologies Co., Ltd, China)</span></h5>
        <h5>- Zhenli Sheng <span style="font-weight: normal;">(Huawei Technologies Co., Ltd, China)</span></h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].organizers2.title | default: "organizers2" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto" style="white-space: pre-line;">
        <h5>- Hui Xiong <span style="font-weight: normal;">(Hong Kong University of Science and Technology(Guangzhou))</span></h5>
        <h5>- Menglin Yang <span style="font-weight: normal;">(Hong Kong University of Science and Technology(Guangzhou))</span></h5>
        <h5>- Zhirong Shen <span style="font-weight: normal;">(Xiamen University)</span></h5>
        <h5>- Jie Wang <span style="font-weight: normal;">(University of Science and Technology of China)</span></h5>
        <h5>- Hong Xie <span style="font-weight: normal;">(University of Science and Technology of China)</span></h5>
        <h5>- Defu Lian <span style="font-weight: normal;">(University of Science and Technology of China)</span></h5>
        <h5>- Xiao Chen <span style="font-weight: normal;">(Huawei Technologies Co., Ltd, China)</span></h5>
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Organizers -->