<!-- Overview -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].overview.section | default: 'overview' }}">
    <style>
        /* 通用样式 */
        .announcement-banner {
            padding: 15px 20px;
            margin-bottom: 40px;
            border-radius: 10px;
            border: 1px solid #B3E5FC;
            margin-left: 20px;
            margin-right: 20px;
            width: 100%;
        }

        /* 第一个横幅 */
        .row:nth-child(1) .announcement-banner {
            background-color: #E6F7FF;
            border-color: #B3E5FC;
        }

        /* 第二个横幅 */
        .row:nth-child(5) .announcement-banner {
            background-color: #FFF3E0;
            border-color: #FFE0B2;
        }

        /* 第三个横幅 */
        .row:nth-child(6) .announcement-banner {
            background-color: #E8F5E9; /* 浅绿色背景 */
            border-color: #C8E6C9; /* 更深的浅绿色边框 */
        }

        /* 链接样式 */
        .announcement-banner a {
            color: #007bff; /* 链接颜色 */
            text-decoration: none; /* 去掉下划线 */
        }

        .announcement-banner a:hover {
            text-decoration: underline; /* 鼠标悬停时显示下划线 */
        }

        /* 链接样式 */
        .blue-link a {
            color: #007bff; /* 链接颜色 */
            text-decoration: none; /* 去掉下划线 */
        }

        .blue-link a:hover {
            text-decoration: underline; /* 鼠标悬停时显示下划线 */
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="announcement-banner">
                    🏆 This challenge is a part of <a href="https://www2025.thewebconf.org/accepted-competitions"
                                                     target="_blank">The Web Conference 2025</a>.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].overview.title | default:
                    "Overview" }}</h2>
                <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].overview.text | default: ""
                    }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="large text-muted">
                    <p>
                        This competition focuses on predicting Uncorrectable Errors (UEs) in <a
                            href="https://en.wikipedia.org/wiki/Dynamic_random-access_memory" target="_blank">Dynamic
                        random-access memory(DRAM)</a>, a critical issue impacting data center reliability and cloud
                        service
                        availability.
                        As data centers expand to meet the growing demands of cloud computing and web-based
                        applications,
                        hardware failures, particularly memory failures, have become a significant threat to server
                        reliability and uptime. Participants will tackle challenges such as data noise, extreme class
                        imbalance, heterogeneous data sources, and hardware aging, using a real-world dataset containing
                        memory system configurations, error logs, and failure tags. The goal is to develop efficient and
                        generalized solutions for UE prediction, fostering advancements in machine learning applications
                        for web-centric and cloud environments, ultimately enhancing the reliability and resilience of
                        modern data centers.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h4 style="border-bottom: 2px solid #eee; padding-bottom: 10px;">{{
                    site.data.sitetext[site.locale].overview.title1 |
                    default: "Background" }}</h4>
            </div>
            <div class="col-lg-12 mx-auto">
                <div class="large text-muted">
                    <p>
                        Uncorrectable Errors (UEs) of Dynamic
                        random-access memory (DRAM) have been identified as a
                        major failure cause in data centers. The multi-bit UE failure of <a
                            href="https://en.wikipedia.org/wiki/High_Bandwidth_Memory" target="_blank">High Bandwidth
                        Memory (HBM)</a> poses a significant threat to the availability and reliability
                        of servers and entire computing clusters.
                        Forecasting UEs before enacting preemptive maintenance measures has emerged as a viable strategy
                        for diminishing server outages. Several machine-learning based solutions have also been
                        proposed.
                    </p>
                    <p>
                        However, predicting UEs presents several challenges: data noise and extreme class imbalance, as
                        UEs are exceptionally rare in memory events; heterogeneous data sources, since DRAMs in
                        operational environments originate from diverse manufacturing or architectural platforms;
                        distribution shifts caused by hardware aging; and latent factors introduced by the dynamic
                        access mechanisms of memory.
                    </p>
                    <p>
                        We cured a real-world memory error dataset that contains both micro-level and bit-level
                        information and
                        present a two-stage challenge for more efficient and generalizable event prediction solutions.
                        We believe the competition will serve as a fertile ground for fostering discussions and
                        advancing
                        research on several important research topics towards real-world ML applications.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 mx-auto">
                <h4 style="border-bottom: 2px solid #eee; padding-bottom: 10px;">{{
                    site.data.sitetext[site.locale].overview.title2 |
                    default: "Background" }}</h4>
            </div>
            <div class="col-lg-12 mx-auto">
                <div class="large text-muted">
                    <p>
                        Our goal is to predict whether each DRAM module will experience an Uncorrectable Error (UE)
                        failure within the next k day, framing the problem as a binary classification task. To support
                        this, we provide participants with a comprehensive dataset that includes memory system
                        configurations, memory error logs, and failure tags. This dataset serves as the foundation for
                        developing solutions to predict potential failures of individual DRAM modules during a specified
                        observation period.
                    </p>
                    <p>
                        The competition is designed to combine practical relevance with an accessible entry point in the
                        initial stage, while also introducing fresh challenges across both stages to engage participants
                        and drive innovative solutions.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 mx-auto">
                <h4 style="border-bottom: 2px solid #eee; padding-bottom: 10px;">{{
                    site.data.sitetext[site.locale].overview.title3 |
                    default: "Background" }}</h4>
            </div>
            <div class="col-lg-12 mx-auto">
                <div class="large text-muted">
                    <p>
                        <strong>DRAM components and errors:</strong> The figure below illustrates the DRAM organization
                        within a server. The basic unit of
                        installation is a <a
                            href="https://en.wikipedia.org/wiki/DIMM" target="_blank">Dual
                        In-Line Memory Module (DIMM)</a>. At a fundamental level, a DIMM consists of
                        multiple DRAM chips grouped into ranks, enabling simultaneous access during DRAM read/write
                        operations within the same rank. Each chip contains multiple banks that operate in parallel.
                        These banks are further divided into rows and columns, with the intersection of a row and column
                        constituting a cell capable of storing a single data bit. Cells can store multiple bits, and the
                        data width of a chip, denoted as x4, x8, or x16, signifies the number of data bits stored in a
                        cell.
                    </p>
                    <p>
                        A DRAM error occurs when the DRAM exhibits abnormal behavior, resulting in one or more
                        bits being read differently from their written values. Modern DRAM implementations utilize
                        <a href="https://en.wikipedia.org/wiki/Error_correction_code" target="_blank">Error correction
                            code (ECC)</a> to safeguard against DRAM errors.
                    </p>
                    <img class="img-fluid d-block mx-auto"
                         src="{{ site.data.sitetext[site.locale].overview.memstructure }}" alt="memstructure"
                         style="max-height: 360px">
                    <p>
                        <strong>Memory Access and RAS:</strong> The figure below depicts the transmission process of x4
                        <a href="https://en.wikipedia.org/wiki/DDR4_SDRAM" target="_blank">DRAM Double Data
                            Rate 4 (DDR4)</a> chips via DQs. Upon initiating a data request, 8 beats—each
                        consisting of 72 bits (64 data bits and 8 ECC bits)—are transferred to the memory controller via
                        DQ wires. By implementing contemporary ECC, the 72-bit data are distributed across 18 DRAM
                        chips, enabling the memory controller to detect and correct errors, as shown in the figure
                        below. Note that ECC checking bits' addresses are decoded to locate specific errors in DQs and
                        beats. Subsequently, all logs, including error detection and correction, events, and memory
                        specifications, are archived in the <a
                            href="https://en.wikipedia.org/wiki/Intelligent_Platform_Management_Interface#Baseboard_management_controller"
                            target="_blank">Baseboard
                        Management Controller (BMC)</a>, as illustrated in the
                        figure below. Utilizing memory failure prediction allows for the anticipation of failures and
                        the activation of corresponding mitigation techniques based on specific use cases.
                    </p>
                    <img class="img-fluid d-block mx-auto"
                         src="{{ site.data.sitetext[site.locale].overview.memorganization }}" alt="memorganization"
                         style="max-height: 360px">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-12 mx-auto">
                <div class="announcement-banner">
                    🚩 See more details: <a href="https://www.codabench.org/competitions/3586" target="_blank">Competition
                    Page</a>.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="announcement-banner">
                    💡 Frequently Asked Questions: <a href="faq">FAQ</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Overview -->