<!-- Overview -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].overview.section | default: 'overview' }}">
  <style>
    /* 通用样式 */
    .announcement-banner {
      padding: 15px 20px;
      margin-bottom: 60px;
      border-radius: 10px;
      border: 1px solid #B3E5FC;
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
    }

    /* 第一个横幅 */
    .announcement-banner:nth-child(1) {
      background-color: #E6F7FF;
      border-color: #B3E5FC;
    }

    /* 第二个横幅 */
    .announcement-banner:nth-child(2) {
      background-color: #FFF3E0;
      border-color: #FFE0B2;
    }

    /* 链接样式 */
    .announcement-banner a {
      color: #007bff; /* 链接颜色 */
      text-decoration: none; /* 去掉下划线 */
    }

    .announcement-banner a:hover {
      text-decoration: underline; /* 鼠标悬停时显示下划线 */
    }
  </style>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="announcement-banner">
        🏆 This challenge is a part of <a href="https://www2025.thewebconf.org/accepted-competitions" target="_blank">The Web Conference 2025</a>.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="announcement-banner">
        🚩 See more details: <a href="https://www.codabench.org/competitions/3586" target="_blank">Competition Page</a>.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].overview.title | default: "Overview" }}</h2>
      <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].overview.text | default: "" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].overview.body | markdownify }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <h3 class="section-subheading-large text-muted">{{ site.data.sitetext[site.locale].overview.title1 | default: "Background" }}</h3>
    </div>
    <div class="col-lg-12 mx-auto">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].overview.text1 | markdownify }}</div>
    </div>
  </div>
</div>
</section>
<!-- End Overview -->